{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'tool/semantic/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tool/jqueryui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="http://cdn-na.infragistics.com/igniteui/2015.2/latest/css/themes/infragistics/infragistics.theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'tool/jqueryui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'tool/semantic/semantic.min.js' %}"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2015.2/latest/css/structure/infragistics.css"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2015.2/latest/js/infragistics.core.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2015.2/latest/js/infragistics.dv.js"></script>
    <script src="http://cdn-na.infragistics.com/igniteui/2015.2/latest/js/infragistics.lob.js"></script>
    <title>{% block page_title %}{% endblock %}</title>
</head>

<body>
{% block content %}{% endblock %}
</body>

</html>