{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'tool/semantic/semantic.min.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'tool/semantic/semantic.min.js' %}"></script>
    <title>{% block page_title %}TEST{% endblock %}</title>
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        
        body > .grid {
            height: 100%;
        }
        
        .image {
            margin-top: -100px;
        }
        
        .column {
            max-width: 450px;
        }
    </style>
</head>

<body>
{% block content %}{% endblock %}
</body>

</html>